.container {
  max-width: 1170px;
  margin: auto;
}

nav {
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
nav ul {
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  display: flex;
}
nav ul a li {
  list-style: none;
  padding: 0 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 165% */
  color: #1C1B1B;
}

.nav__logo {
  margin: auto 200px auto 0;
  height: 20px;
  text-align: center;
  align-items: center;
}

.icon__instagram {
  position: relative;
  top: -10px;
  padding-right: 10px;
}

.main {
  height: 555px;
  background: #F0EFEB;
}

.main__content {
  display: flex;
}

.main__text h1 {
  margin: 90px 0 42px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
}
.main__text p {
  margin-bottom: 26px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.main__text a {
  padding: 4px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
}

.cards {
  margin-bottom: 240px;
}

.cards__content h2 {
  margin-top: 60px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
}
.cards__content p {
  padding: 20px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

.cards__cards {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.cards__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards__info h4 {
  margin: 17px auto;
  width: 165px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.cards__info div {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.cards__info a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.cards-block__block {
  background: rgba(204, 204, 204, 0.3);
}

.cards-block__block:nth-child(2) {
  background: rgba(204, 204, 204, 0.6);
}

.cards-block__content {
  padding: 76px 0 51px 0;
  display: flex;
}
.cards-block__content div {
  margin: 50px 50px;
  width: 500px;
}
.cards-block__content div h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
.cards-block__content div p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
.cards-block__content div a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.cards-block__content-row {
  justify-content: flex-end;
  text-align: right;
}/*# sourceMappingURL=style.css.map */