.header {
}
.container {
    max-width: 1170px;
    margin: auto;
}
nav{
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    ul{
        text-align: center;
        align-items: center;
        padding: 0;
        margin: 0;
        display: flex;
        a{
            li {
                list-style: none;
                padding: 0 14px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 26px;
                /* identical to box height, or 165% */


                color: #1C1B1B;
            }
        }
    }
}
.nav__logo {
    margin: auto 200px auto 0;
    height: 20px;
    text-align: center;
    align-items: center;
}
.nav__icon {
    
}
.nav__icon-center {

}
.icon__instagram {
    position: relative;
    top: -10px;
    padding-right: 10px;
}
.icon__search {
}
.icon__lock {
}

// MAIN---------------------------------------------------------------------------------------

.main {
    height: 555px;
    background: #F0EFEB;
}
.main__content {
    
    display: flex;
}
.main__text {
    h1{
        margin: 90px 0 42px 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;

        color: #000000;
    }
    p{
        margin-bottom: 26px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }
    a{
        padding: 4px 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #FFFFFF;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 100px;
    }
}
.main__img {
}

// CARDS----------------------------------------------------------------------------------

.cards {
    margin-bottom: 240px;
}
.cards__content {
    h2{
        margin-top: 60px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #000000;
    }
    p {
        padding: 20px 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #000000;
    }
}
.cards__cards {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.cards__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cards__info {
    h4 {
        margin: 17px auto;
        width: 165px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        color: #000000;
    }
    div {
        margin-bottom: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        /* identical to box height */
        text-align: center;
        color: #000000;
    }
    a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        /* identical to box height */
        text-align: center;
        text-decoration-line: underline;
        color: #000000;
    }
}

// CARDS-BLOCK---------------------------------------------------------------------------

.colors {
    padding-bottom: 290px;
}
.cards-block {
    
}
.cards-block__block {
    background: rgba(204, 204, 204, 0.3);
}
.cards-block__block:nth-child(2){
    background: rgba(204, 204, 204, 0.6);
}
.cards-block__content {
    padding: 76px 0 51px 0;
    display: flex;
    div {
        margin: 50px 50px;
        width: 500px;
        h2{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            color: #000000;
        }
        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 42px;
            color: #000000;
        }
        a{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 20px;
            text-align: right;
            text-decoration-line: underline;
            color: #000000;
        }
    }
}
.cards-block__content-row{
    justify-content: flex-end;
    text-align: right;
}

// COLORS --------------------------------------------------------------------------------------

.colors {
}
.colors__content {
    text-align: center;
    h2 {
        margin: 190px 0 70px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #000000;
    }
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #000000;
    }
}
.colors__block {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.colors__circle {
    width: 33%;
    margin-bottom: 110px;
    align-items: center;
    text-align: center;
    div {
        margin: 0 auto;
        width: 70px;
        height: 70px;
        border-radius: 35px;
    }
    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        color: #000000;
    }
}
.colors__1 {
    background: #21F7EC;
}
.colors__2 {
    background: #33D3BC;
}
.colors__3 {
    background: #18A5C6;
}
.colors__4 {
    background: #D38F62;
}
.colors__5 {
    background: #F94C43;
}
.colors__6 {
    background: #D399FF;
}

// PEOPLE ------------------------------------------------------------------------------------------

.people {
    height: 500px;
    background: #F0F0F0;
}
.people__content {
    position: relative;
    top: -185px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.people__block {
    width: 290px;
    div {
        margin: 35px 0 40px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.6px;
        color: #000000;
    }
    p{
        margin-bottom: 42px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        text-align: center;
        color: #000000;
    }
    a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */   
        text-align: center;
        text-decoration-line: underline;
        color: #000000;
    }

}
